<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="public/styles/heroic-features.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <title>The GOAT Voter</title>
</head>


<body>
    
    </div>  
</body>
</html>