<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">The G.O.A.T. Voter App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
   
    <!-- /.container -->
<div class="container">      
        <header class="jumbotron my-4">
        <h1 class="display-3">Welcome Voter!</h1>
        <p class="lead">This is your one-stop destination where you will find all the information you need to become <i><b>The Greatest Voter Of All Time</b></i>! </p>
        
        <a href="#" class="btn btn-primary btn-lg">Find Your Polling Station Here!</a>
        </header>
        <form action="update-create">
        <p>Current Elected Official in Office</p>
        <input type="search"name="search" />
        <input type="submit" value="Search" />    
        </form>
        <br>
        <form action="update-create">
        <p>Location</p>
        <input type="search"name="search" />
        <input type="submit" value="Search" />    
        </form>
        <br>
        <form action="update-create">
        <p>Candidates</p>
        <input type="search"name="search" />
        <input type="submit" value="Search" />    
        </form>
        <br>
        <form action="update-create">
        <p>Voting Information</p>
        <input type="search"name="search" />
        <input type="submit" value="Search" />    
        </form>

       <!--<h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>-->
      </div>
    </div>
  </div>
</div>
<br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; https://goatvoterapp.org 2018</p>
      </div>
      <!-- /.container -->
    </footer>
 <link href="public/styles/styles.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
