:root {
  red:#D42C13;
  white:#FFFFF0
  blue:#1048A1;
}
 

<<<<<<< HEAD
body{
  color:#1048A1;
}

=======
>>>>>>> b4d07120b5b98f2f15e1affc1185284d7f965f05
.list-group-item {
  line-height: 2.5;
}

.background{
  color:#FFFFF0;
  background-color: #1048A1;

}
.fixed-top{
  color: #D42C13;
}
.my-4{
  color:#1048A1;
}
.card-body{
  color:#1048A1;
}
.form-group{
  color:#1048A1;
}
.navbar-brand{
  color:#D42C13;
}
.py-5bg-dark{
  color:#0C3B87;
}
