.list-group-item {
  line-height: 2.5;
}


.background{
  color:#F4FFEB;
  background-color: #1048A1;

}
.fixed-top{
  color: #D42C13;
}
.my-4{
  color:#1048A1;
}
.card-body{
  color:#1048A1;
}
.form-group{
  color:#1048A1;
}
.navbar-brand{
  color:#D42C13;
}
.py-5{
  color:#0C3B87;
}